.pm-editor {
  border: 1px solid black;
}

.pm-editor.main {
  overflow: scroll;
  max-height: 500px;
}

.ProseMirror {
  min-height: 140px;
  overflow-wrap: break-word;
  outline: none;
  padding: 10px;
  white-space: pre-wrap;
}

.paragraph {
  text-decoration: underline;
}

.bold-content {
  background: red;
  font-weight: bold;
}
