$color-black: #222;
$color-blue-bg: #363755;
$color-blue-light: #85d9ef;
/* $color-green-text: #b8e248; */
$color-gray-light: #d3d3d9;
$color-green: green; // diff inserted
$color-green-light: #87cc86; // diff deleted color
$color-purple: #604c68; // borders in eg lists
$color-red: #d66363; // diff deleted
$color-red-gray: rgb(187, 145, 163); // h2 color
$color-red-light: rgb(255, 162, 177);
$color-yellow: #eaea37; // diff updated
$color-white: #fff;